<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- Title -->
<div class="p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h1 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h1>
</div>
<!-- --------------------------------------------------------------------------------------------------------------- -->

<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- Statistics -->
<div class="container">
  <div class="card-deck mb-3 text-center">

    <!-- Number of blocks in bitcoin core -->
    <app-statistic backgroundColor="bg-info"
                   icon="fa-server"
                   title="Blocks in bitcoin core"
                   type="blocksCountInBitcoinCore">
    </app-statistic>

    <!-- Number of blocks in neo4j -->
    <app-statistic backgroundColor="bg-success"
                   icon="fa-database"
                   title="Blocks in neo4j"
                   type="blocksCountInNeo4j">
    </app-statistic>

    <!-- Block import duration (average) -->
    <app-statistic backgroundColor="bg-secondary"
                   icon="fa-hourglass-half"
                   title="Block import duration"
                   type="averageBlockProcessDuration">
    </app-statistic>
    <!-- ----------------------------------------------------------------------------------------------------------- -->

  </div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------- -->

<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- Current block status -->
<div class="container">
  <div class="card-deck mb-3 text-center">

    <app-current-block-status></app-current-block-status>

  </div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------- -->
