<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- Title -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h1 class="my-0 mr-md-auto font-weight-normal">{{ title }}</h1>
</div>
<!-- --------------------------------------------------------------------------------------------------------------- -->

<!-- --------------------------------------------------------------------------------------------------------------- -->
<!-- Statistics -->
<div class="container">
  <div class="card-deck mb-3 text-center">

    <!-- Number of blocks in bitcoin core -->
    <app-statistic id="blocksInBitcoinCore"
                   backgroundColor="bg-info"
                   icon="fa-server"
                   title="Blocks in bitcoin core">
    </app-statistic>

    <!-- Number of blocks in neo4j -->
    <app-statistic id="blocksInNeo4j"
                   backgroundColor="bg-success"
                   icon="fa-database"
                   title="Blocks in neo4j">
    </app-statistic>

    <!-- Average block import duration -->
    <app-statistic id="blockImportDuration"
                   backgroundColor="bg-secondary"
                   icon="fa-hourglass-half"
                   title="Block import duration">
    </app-statistic>
    <!-- ----------------------------------------------------------------------------------------------------------- -->

  </div>
</div>
<!-- --------------------------------------------------------------------------------------------------------------- -->
