<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- Page configuration -->
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Blockchain2graph console</title>

	<!-- Let browser know this website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1"/>

	<!-- Fonts -->
	<link href="http://fonts.googleapis.com/css?family=Oswald:400,300,700"
		  th:href="@{http://fonts.googleapis.com/css?family=Oswald:400,300,700}"
		  rel="stylesheet" type="text/css"/>

	<!-- CSS lib -->
	<link href="../webjars/bootstrap/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
		  rel="stylesheet"/>

	<!-- Javascript lib -->
	<script src="../webjars/jquery/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="../webjars/bootstrap/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

	<!-- Custom CSS & Javascript -->
	<link href="../static/css/custom.css" th:href="@{/css/custom.css}" rel="stylesheet"/>
	<script th:inline="javascript">
		/*global url:true*/
		/*eslint no-undef: "error"*/
		const url = [[${url}]] + [[${#httpServletRequest.contextPath}]];
	</script>
	<script src="../static/js/console.js" th:src="@{/js/console.js}"></script>

</head>
<body>

<div class="container">

	<!-- =========================================================================================================== -->
	<!-- Header (Title / number of blocks integrated / total number of blocks -->
	<div class="row header">
		<div class="col-sm-8"><h1>Blockchain2graph console</h1></div>
		<div class="col-sm-4" align="right">
			<h2>
				<div id='importedBlockCount' style="display: inline"></div>
				<div style="display: inline">/</div>
				<div id='totalBlockCount' style="display: inline"></div>
			</h2>
		</div>
	</div>
	<!-- Log choice -->
	<div class="row">
		<div class="col-sm-4">&nbsp;</div>
		<div class="col-sm-4" align="center">
			<select autofocus="autofocus" id="logType">
				<option value="blocks" selected="selected">View blocks import logs</option>
				<option value="addresses">View addresses import logs</option>
				<option value="transactions">View transactions import logs</option>
				<option value="relations">View relations import logs</option>
			</select>
		</div>
		<div class="col-sm-4">&nbsp;</div>
	</div>
	<!-- Last error message -->
	<div class="row">
		<div class="col-sm-1">&nbsp;</div>
		<div class="col-sm-10 errorMessage" id="lastErrorMessage"></div>
		<div class="col-sm-1">&nbsp;</div>
	</div>
	<!-- Log display -->
	<div class="row logs">
		<div class="col-sm-12">
			<div id="logs"></div>
		</div>
	</div>
	<!-- Footer -->
	<div class="row footer">
		<div class="col-sm-6" id="executionTimeStatistic" align="left"></div>
		<div class="col-sm-6">
			<p><a href="https://straumat.github.io/blockchain2graph/" target="blockchain2graph">blockchain2graph</a></p>
		</div>
	</div>
	<!-- =========================================================================================================== -->

</div>

<script>
	$("#logType").on('change', function () {
		$("#logs").empty();
	})
</script>

</body>
</html>